
@font-face {
  font-family: 'VulfItalic';
  src: local('VulfItalic'), url(../fonts/VulfMonoDemo-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'VulfBoldItalic';
  src: local('VulfBoldItalic'), url(../fonts/VulfMonoDemo-BoldItalic.otf) format('opentype');
}

.pageContainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VulfItalic';
}

.mainBody {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.addressGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.link {
  width: 100%;
  margin: 0.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: pointer; 
}

.link:hover,
.link:focus,
.link:active {
  color: #0070f3;
  text-decoration: underline solid;
}

.link h3 {
  margin: 0.1rem;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }
}
